.slider{
    display:grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: 1fr 5% 1fr;
}

.arrow1{
    background-image: url("./arrow.jpg");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 3;
    width:100px;
}
.arrow2{
    z-index:1000;
    background-image: url("./arrow.jpg");
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    transform: rotate(180deg);
}