// Animation configuration
$fade-duration: 3s;
$fade-length: 1;

// Arrow size and width
$arrow-size: 30px;
$arrow-width: 2px;

// Colors
$color-black: #000;

// Responsive breakpoints
$breakpoints: (
    'small': (
        min-width: 767px
    ),
    'medium': (
        min-width: 992px
    ),
    'large': (
        min-width: 1200px
    )
) !default;
